button.btn.btn-default.btn-create.btn-create-item {
    float: right;
    border-radius: 25px;
    background-color: transparent;
    color: white;
    margin-top: 100px;
    border-width: 2px;
}

    .btn.btn-create {
        background-image: -webkit-gradient(linear, left 0, left 100%, from(rgba(0,0,0,0.075)), to(rgba(0,0,0,0.075)));
        background-image: -webkit-linear-gradient(top, #3fcc4b, 0, #30b23b, 100%);
        background-image: -moz-linear-gradient(top, #3fcc4b 0, #30b23b 100%);
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.075) 0, rgba(0,0,0,0.1) 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3fcc4b', endColorstr='#ff30b23b', GradientType=0);
        border-color: black black black;
        box-shadow: none;
        color: white;

    }

div#nav-list {
    background: -webkit-gradient(linear, left 0, left 100%, from(transparent), to(transparent));
    background: -webkit-linear-gradient(top, #3fcc4b, 0, #30b23b, 100%);
    background: -moz-linear-gradient(top, #3fcc4b 0, #30b23b 100%);
    background: linear-gradient(to bottom, rgb(84, 169, 241) 0, rgb(52, 194, 168) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3fcc4b', endColorstr='#ff30b23b', GradientType=0);
    border-color: rgba(63, 204, 75, 0) rgba(52, 194, 64, 0) rgba(48, 178, 59, 0);
    box-shadow: none;
    color: white;
}



span.text-muted {
    font-size: 24px;
    font-style: white;
    color: #eee;
        font-weight: lighter;
}
a.dropdown-toggle {
    color: white;
    font-size: 25px;
}
button.btn.cycleButton {
    background-color: transparent;
    border-color: white;
    border-radius: 40px;
    border-style: solid;
    border-width: 3px;
}
h1 {
    margin-top: 20px;
}
.input {
	font-family: Tahoma, Arial;
    font-size: 12pt;
    line-height: 25px;
    COLOR: #000000;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-bottom-color: #000000;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    background-color: transparent;
    border-bottom-color: white;
}


.searchbox-field>img {
    border: 0;
    margin-left: -30px;
    margin-bottom: 9px;
}


a.btn.btn-lg {
    color: white;
}
.searchbox-field {
    margin-top: -40px;
}
button.btn.btn-default.dropdown-toggle {
    border-radius: 17px;
}
a.btn.btn-default {
    border-radius: 17px;
}

button.btn.btn-default{
    border-radius: 20px;
    border-color: black;
    color: black;
    font-size: 12px;
    background-color: transparent;
}


input.form-control.js-search-list.searchbox-input {
    font-size: white;
    font-style: white;
    font-size: 20px;
    color: white;
    background-image: url('/keystone/images/background/magnifying-glass16.png');
    background-repeat: no-repeat;
    background-position: right;
    background-color: transparent;
    border-bottom: white;
    border-bottom-color: white;
    border: none;
    

} 




