button.btn.btn-default.btn-create.btn-create-item {
        background: transparent;
        margin-top: 38px;
        width: 170px;
}

.container {
    max-width: 100%;
    padding:0px;

}
#body {
    margin-top: 0px;
}
nav#header {
    background: -webkit-gradient(linear, left 0, left 100%, from(transparent), to(transparent));
    background: -webkit-linear-gradient(top, #3fcc4b, 0, #30b23b, 100%);
    background: -moz-linear-gradient(top, #3fcc4b 0, #30b23b 100%);
    background: linear-gradient(to bottom, #54a9f1 0, #34A8C1 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3fcc4b', endColorstr='#ff30b23b', GradientType=0);
    border-color: rgba(63,204,75,0) rgba(52,194,64,0) rgba(48,178,59,0);
    box-shadow: none;
    color: white;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}
span.text-muted {
    font-size: 24px;
    font-style: white;
    color: #eee;
    font-weight: lighter;
}
a.dropdown-toggle {
    color: white;
    font-size: 25px;
}
h1 {
    margin-top: 20px;
    color: white;
}
.input {
	font-family: Tahoma, Arial;
    font-size: 12pt;
    line-height: 25px;
    COLOR: #000000;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-bottom-color: #000000;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    background-color: transparent;
    border-bottom-color: white;
}


.searchbox-field>img {
    border: 0;
    margin-left: -30px;
    margin-bottom: 9px;
}


a.btn.btn-lg {
    color: white;
}
.searchbox-field {
    margin-top: -40px;
}
button.btn.btn-default.dropdown-toggle {
    border-radius: 17px;
    color: lightgray;
}
a.btn.btn-default {
    border-radius: 17px;
    color: lightgrey;
}



.searchbox-input{
    font-size: 20px;
    color: white;
    background-position: right;
    border-bottom: white;
    border-bottom-color: white;
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: thin;
    background-color: transparent;
    top: 20px;
    left: -30PX;
    Position: relative;
    box-shadow: none;
} 

.form-control.searchbox-input:focus {
    box-shadow: none;
    border-color: white;
}

.first-part{
    background: -webkit-gradient(linear, left 0, left 100%, from(transparent), to(transparent));
    background: -webkit-linear-gradient(top, #3fcc4b, 0, #30b23b, 100%);
    background: -moz-linear-gradient(top, #3fcc4b 0, #30b23b 100%);
    background: linear-gradient(to bottom, #34A8C1 0, #34c2a8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3fcc4b', endColorstr='#ff30b23b', GradientType=0);
    border-color: rgba(63,204,75,0) rgba(52,194,64,0) rgba(48,178,59,0);
    box-shadow: none;
    color: white;
    margin-top: -23px;
    padding-right:5%;
    padding-left:5%;
    padding-bottom:5%;
}

button#button2 {
    border: 0;
    margin-top: 10%;
    margin-left: 85%;
    padding-bottom: -20px;
    position: absolute;
    left: -20%;
    background-color: transparent;
}
.form-inline.searchbox-form.mr-5 {
    float: right;
    margin-left: 900px;
}
button#button4 {
    color: white;
}

button.logobutton {
    border-radius: 29px;
    background-color: transparent;
    border-color: white;
    border-collapse: collapse;
    width: 60px;
    height: 60px;
    }

searchbox-input::-webkit-input-placeholder {
   color: red;
}
button#button4 {
    color: white;
    background-color: transparent;
    border-radius: 20px;
    width: 120px;
    height: 35px;
    font-size: 14px;
    border-color: white;
    font-weight: 300;
}
.list-toolbar {
    float: right;
}
.second-part {
    padding-left: 5%;
    padding-right: 5%;
}
hr{
    margin-bottom: 0em;
    margin-top: 0.5em;
}
.list-pagination {
    color: #999;
    display: block;
    font-size: 16px;
    margin-top: 4%;
    margin-right: 0px;
    margin-bottom: 4%;
    margin-left: 0px;
}
#header .navbar-backtobrand-message {
    background-color: rgba(0, 128, 191, 0.02);
    color: #Ffffff;
}
form.modal-content {
    background: -webkit-gradient(linear, left 0, left 100%, from(transparent), to(transparent));
    background: -webkit-linear-gradient(top, #3fcc4b, 0, #30b23b, 100%);
    background: -moz-linear-gradient(top, #3fcc4b 0, #30b23b 100%);
    background: linear-gradient(to bottom, #409FE2 0, #3DE0BA 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3fcc4b', endColorstr='#ff30b23b', GradientType=0);
    border-color: rgba(63,204,75,0) rgba(52,194,64,0) rgba(48,178,59,0);
    box-shadow: none;
}
button.btn.btn-link.btn-cancel {
    color: white;
}
button.btn.btn-create.addbutton {
    color: white;
    margin-top: -1px;
}
div#item-view {
    max-width: 980px;
    margin: 0 auto;
}
div.second-part {
    max-width: 980px;
    margin: 0 auto;
}
div.first-part {
    max-width: 2000px;
    margin-left:auto;
    margin-right:auto;
}
#section-nav {
    min-height: 0;
    margin-bottom: 0;
}
ul.nav.navbar-nav {
    display: none;
}
.navbar-static-top {
    border-width: 0;
}
